{% extends "base.html" %}

{% block title %}Time Clock Management | Login{% endblock title %}

{% block main_content %}
  <main class="flex items-center justify-center w-full h-screen bg-white text-black">
    <form class="shadow-md rounded-md border-t-2 border-blue-700 p-4 flex flex-col items-center gap-2">
      <h3 class="text-3xl font-bold">Login</h3>
      <p>Welcome back</p>

      <button type="submit" class="p-2 rounded-sm bg-blue-700 text-white text-center w-full">Login</button>
    </form>
  </main>
{% endblock main_content %}
