{% extends "admin-base.html" %}
{% block title %}
  Time Clock Management | Scan Clock In/Out
{% endblock title %}

{% block extra_head %}
  <script src="https://unpkg.com/@zxing/library@latest"></script>
  <style>
    #scanner-container { width: 100%; max-width: 600px; margin: 0 auto; position: relative; border-radius: 12px; overflow: hidden; background: #000; }

    #scanner-container { width: 100%; height: 150px; }

    #msg-overlay { display: none; font-size: 24px; padding: 40px; font-weight: bold; background: white; border-radius: 12px; }
  </style>
{% endblock extra_head %}

{% block content %}
  {% if messages %}
    <ul class="messages" style="list-style: none; padding: 0;">
      {% for message in messages %}
        <li style="padding: 10px;
                   margin-bottom: 10px;
                   border-radius: 4px;
                   color: white;
                   background-color: {% if message.tags == 'error' %}#f44336{% else %}#4caf50{% endif %}">
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="border-b border-neutral-200 pb-5">
    <h1 class="text-2xl font-bold tracking-tight text-neutral-900">Clock In / Out</h1>
    <p class="text-sm text-neutral-500 mt-1">Have a great day at work.</p>
  </div>
  <form id="kiosk-form" method="POST" action="/api/v1/punch/scan-clock-in-out">
    {% csrf_token %}
    <input type="hidden" id="so_id_input" name="so_id" value="">
    <div id="kiosk-box" style="max-width: 600px; margin: 0 auto;">
      <video id="scanner-container"></video>
    </div>
  </form>

  <script>
    function getCsrfToken() {
      const input = document.querySelector('[name=csrfmiddlewaretoken]');
      if (input?.value) return input.value;

      const match = document.cookie.match(/csrftoken=([^;]+)/);
      return match ? decodeURIComponent(match[1]) : null;
    }

    const csrftoken = getCsrfToken();

    const codeReader = new ZXing.BrowserBarcodeReader();
    const videoElement = document.getElementById('scanner-container');
    const kioskForm = document.getElementById('kiosk-form');
    const soIdInput = document.getElementById('so_id_input');

    const hints = new Map();
    hints.set(ZXing.DecodeHintType.POSSIBLE_FORMATS, [
        ZXing.BarcodeFormat.CODE_128,
        ZXing.BarcodeFormat.UPC_A,
        ZXing.BarcodeFormat.EAN_13
    ]);

    function startKioskScanner() {
        codeReader.decodeFromVideoDevice(undefined, videoElement, (result, err) => {
            if (result) {
              console.log("Barcode detected:", result.text);
              soIdInput.value = result.text;
              kioskForm.submit();
            }
            if (err && !(err instanceof ZXing.NotFoundException)) {
                console.error("Camera Error:", err);
            }
        }, hints);
    }

    startKioskScanner()
  </script>
{% endblock content %}
